body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
footer {
  text-align: right;
  color: midnightblue;
}

.beautiful{height: 200px;
  float: left;
  margin-right: 50px;
}

.construction
{height: 200px;
  float: left;
  margin-right: 50px;
}

.lefts{
  width: 45%;
 
}

.rights{
  width: 45%;
  
}
.hello{
  float: left;
}

.hello {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  text-align: justify;
}
.creative{
  color: midnightblue ;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .lefts {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
  .rights {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .beautiful {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
  .construction {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }

}